# Scraping

In [65]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [66]:
response = requests.get('https://exemple.tcch.ch/scraping/')

In [110]:
response.content

b'<html>\n\n<head>\n  <meta charset="utf-8">\n  <title>Titre de la page (dans l\xe2\x80\x99onglet, l\xe2\x80\x99historique, \xe2\x80\xa6)</title>\n  <style>\n\n  th, td {\n    padding: 10px;\n    border: 1px solid #eee;\n  }\n  td {\n    text-align: right;\n  }\n  p {\n    border-left: 10px solid #ccc;\n    padding-left: 20px;\n  }\n  p:first-of-type {\n    border-color: #ecc;\n  }\n  </style>\n</head>\n\n<body>\n  \n  <h1>Titre principal (Titre 1)</h1>\n  \n  <h2>Animaux (Titre 2)</h2>\n  \n  <table>\n    <!-- tr = table row -->\n    <tr>\n      <th>Chats</th><th>Chiens</th>\n    </tr>\n    \n    <tr>\n      <td>3</td><td>0</td>\n    </tr>\n    \n    <tr>\n      <td>5</td><td>0</td>\n    </tr>\n    \n    <tr>\n      <td>3</td><td>5</td>\n    </tr>\n    \n    <tr>\n      <td>3</td><td>90</td>\n    </tr>\n    \n    <tr>\n      <td>13</td><td>10</td>\n    </tr>\n  </table>\n  \n  <p>Ce paragraphe nous int\xc3\xa9resse. C\xe2\x80\x99est le premier.</p>\n  \n  <p>Le second nous int\xc3\xa9resse \xc3\xa9galement.</p>\n  \n  <p>Le troisi\xc3\xa8me est un peu plus <em>compliqu\xc3\xa9</em>\xe2\x80\xa6<br>\n    Mais on va s\xe2\x80\x99en sortir!</p>\n    \n</body>\n  \n</html>'

In [111]:
doc = BeautifulSoup(response.content, 'html.parser')

In [112]:
doc.find('p')

In [113]:
length = len(doc.select('td'))

In [114]:
doc.select('td')[-1]

In [115]:
table = doc.find('table')

In [116]:
table.find_all('tr')[1:]

[<tr>
 <td>3</td><td>0</td>
 </tr>, <tr>
 <td>5</td><td>0</td>
 </tr>, <tr>
 <td>3</td><td>5</td>
 </tr>, <tr>
 <td>3</td><td>90</td>
 </tr>, <tr>
 <td>13</td><td>10</td>
 </tr>]

In [117]:
rows = []

for tr in table.find_all('tr'):
    td_list = tr.find_all('td')
    
    cells = []
    for td in td_list:
        cells.append( int(td.string) )
        
    if len(cells) > 0:
        rows.append(cells)

In [106]:
for row in rows:
    print(row)

[3, 0]
[5, 0]
[3, 5]
[3, 90]
[13, 10]

In [107]:
df = pd.DataFrame(rows, columns = ['Chats', 'Chiens'])

In [108]:
df

   Chats  Chiens
0      3       0
1      5       0
2      3       5
3      3      90
4     13      10

In [40]:
df.to_excel('chats-chiens.xlsx')

'10'