# «Do now»
Un deuxième «warm-up». Cette fois, on consolide notre utilisation de Pandas.

In [13]:
import pandas as pd

In [21]:
df = pd.read_csv('time-series-ecdc.csv')

In [22]:
df.head()

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
0,2020-03-16,Aruba,2,0,18.8,0.0,ABW,12.5,-69.9667
1,2020-03-23,Aruba,4,0,37.6,0.0,ABW,12.5,-69.9667
2,2020-03-30,Aruba,50,0,470.3,0.0,ABW,12.5,-69.9667
3,2020-04-06,Aruba,64,0,602.0,0.0,ABW,12.5,-69.9667
4,2020-04-13,Aruba,92,0,865.4,0.0,ABW,12.5,-69.9667

## Rappels

`.value_counts()`

`len(df)`

`df.columns`

`df['Nouvelle colonne'] = df['Colonne'] / 10`

`df['Colonne'].sum()`

Utilisez l’une des méthodes ci-dessus pour calculer le maximum de la colonne **deaths_sum**.

In [23]:
df['deaths_sum'].max()

176806

Avec une autre de ces méthodes, trouvez le nombre de lignes du tableau.

In [36]:
index_max = df['deaths_sum'].idxmax()
df[df.index == index_max]

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
5030,2020-08-24,États-Unis,5702611,176806,17329.7,537.3,USA,38.0,-97.0

In [37]:
df.shape

(5319, 9)

Combien de pays différents contient ce tableau? Indice: `.value_counts()` vous donne la réponse, mais vous devez compter le nombre d’éléments qu’il contient. Et comme il y a plus de 200 pays, il vaut mieux le faire en Python…

In [38]:
len(df['country'].value_counts())

203

**Bonus:** quel était le bilan de la France (cas et décès) le 17 juin?

In [16]:
# Exemple avec deux conditions, à modifier
df[(df['timestamp'] == '2020-06-15') & (df['lat'] > 60)]

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
1624,2020-06-15,Finlande,7104,326,1287.4,59.1,FIN,64.0,26.0
1704,2020-06-15,Îles Féroé,187,0,3841.7,0.0,FRO,62.0,-7.0
2033,2020-06-15,Groenland,13,0,229.4,0.0,GRL,72.0,-40.0
2423,2020-06-15,Islande,1810,10,5070.2,28.0,ISL,65.0,-18.0
3708,2020-06-15,Norvège,8606,242,1615.2,45.4,NOR,62.0,10.0
4582,2020-06-15,Suède,51614,4874,5045.3,476.4,SWE,62.0,15.0

In [39]:
df[(df['timestamp'] == '2020-06-15') & (df['country']  == 'France')]
# ou
date_condition = df['timestamp'] == '2020-06-15'
country_condition = df['country']  == 'France'
df[date_condition & country_condition]

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
1679,2020-06-15,France,157220,29407,2346.1,438.8,FRA,46.0,2.0