# «Do now»
Un deuxième «warm-up». Cette fois, on consolide notre utilisation de Pandas.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('time-series-ecdc.csv')

In [5]:
df.head()

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
0,2020-03-16,Aruba,2,0,18.8,0.0,ABW,12.5,-69.9667
1,2020-03-23,Aruba,4,0,37.6,0.0,ABW,12.5,-69.9667
2,2020-03-30,Aruba,50,0,470.3,0.0,ABW,12.5,-69.9667
3,2020-04-06,Aruba,64,0,602.0,0.0,ABW,12.5,-69.9667
4,2020-04-13,Aruba,92,0,865.4,0.0,ABW,12.5,-69.9667

## Rappels

`.value_counts()`

`len(df)`

`df.columns`

`df['Nouvelle colonne'] = df['Colonne'] / 10`

`df['Colonne'].sum()`

Utilisez l’une des méthodes ci-dessus pour calculer le maximum de la colonne **deaths_sum**.

In [13]:
df['deaths_sum'].max()

176806

Avec une autre de ces méthodes, trouvez le nombre de lignes du tableau.

In [11]:
len(df)

5319

Combien de pays différents contient ce tableau? Indice: `.value_counts()` vous donne la réponse, mais vous devez compter le nombre d’éléments qu’il contient. Et comme il y a plus de 200 pays, il vaut mieux le faire en Python…

In [21]:
df['country'].value_counts()

Indonésie               32
Inde                    32
Allemagne               32
Autriche                32
Pakistan                32
                        ..
Yémen, Rép. du          20
Sao Tomé-et-Principe    20
Tadjikistan             17
Comores                 17
Lesotho                 15
Name: country, Length: 203, dtype: int64

In [20]:
len(df['country'].value_counts())

203

**Bonus:** quel était le bilan de la France (cas et décès) le 17 juin?

In [23]:
df['timestamp'] == '2020-06-15'= & (df['country']== 'France')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().