# «Do now»
Un deuxième «warm-up». Cette fois, on consolide notre utilisation de Pandas.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('time-series-ecdc.csv')

In [4]:
df.head()

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
0,2020-03-16,Aruba,2,0,18.8,0.0,ABW,12.5,-69.9667
1,2020-03-23,Aruba,4,0,37.6,0.0,ABW,12.5,-69.9667
2,2020-03-30,Aruba,50,0,470.3,0.0,ABW,12.5,-69.9667
3,2020-04-06,Aruba,64,0,602.0,0.0,ABW,12.5,-69.9667
4,2020-04-13,Aruba,92,0,865.4,0.0,ABW,12.5,-69.9667

## Rappels

`.value_counts()`

`len(df)`

`df.columns`

`df['Nouvelle colonne'] = df['Colonne'] / 10`

`df['Colonne'].max()`

Utilisez l’une des méthodes ci-dessus pour calculer le maximum de la colonne **deaths_sum**.

In [6]:
df['deaths_sum'].max()

176806

Avec une autre de ces méthodes, trouvez le nombre de lignes du tableau.

In [7]:
len(df)

5319

In [8]:
len([0, 5, 1])

3

Combien de pays différents contient ce tableau? Indice: `.value_counts()` vous donne la réponse, mais vous devez compter le nombre d’éléments qu’il contient. Et comme il y a plus de 200 pays, il vaut mieux le faire en Python…

In [10]:
len( df['country'].value_counts() )

203

**Bonus:** quel était le bilan de la France (cas et décès) le 15 juin?

In [18]:
df[ (df['timestamp'] == '2020-06-15') & (df['country'] == 'France') ]

,timestamp,country,cases_sum,deaths_sum,casesPerPop,deathsPerPop,Alpha-3 code,lat,lng
1679,2020-06-15,France,157220,29407,2346.1,438.8,FRA,46.0,2.0